/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corpo da página */
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E6E8E3;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  .container {
    width: 100%;
    max-width: 900px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Títulos */
  h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 1.8em;
  }
  
  /* Botões */
  button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #6ab187, #4ca1af); /* Gradiente sutil */
    color: white;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    font-weight: 600;
    margin: 10px 0;
  }
  
  button:hover {
    background: linear-gradient(135deg, #4ca1af, #6ab187);
    transform: scale(1.05);
  }
  
  /* Botões específicos */
  .menu-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    

    padding: 0;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 16px;

    color: white;
    
  }
  
  /* Barra lateral */
  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #6ab187;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar li {
    margin: 15px 0;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  
  /* Produtos */
  #products-container {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Animações */
  .sidebar.active {
    left: 0;
  }
  