body {
    background-color: #E6E8E3;
}

/*#form-container {
    display: block !important;
}*/

/* Estilo do cabeçalho */
.cabecalho {
    background-color: #E6E8E3; /* Mesma cor de fundo da página */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px; /* Ajuste conforme necessário */
}

/* Cor do título Fornecedores */
.cabecalho h1 {
    color: #76877D;
}

/* Estilo do botão de adicionar */
.add-button {
    background-color: #88B8A9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}


.add-button a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

/* Estilo da lista de empresas */
.empresas {
    margin-top: 20px;
}

/* Estilo dos itens da lista */
.list-group-item {
    background-color: #E6E8E3; /* Mesma cor de fundo da página */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo dos botões de ação */
.update-btn, .delete-btn {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #88B8A9; /* Mesma cor do botão de adicionar */
}

.buttons-container {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

/* Botão de editar com ícone de lápis */
.update-btn::before {
    content: "\270E"; /* Unicode para ícone de lápis */
    font-size: 18px;
}

/* Botão de deletar com ícone de lixo */
.delete-btn svg {
    fill: white; /* Cor do ícone de lixo */
}

/* Estilo da seção Fornecedores mais Próximos */
.fornecedoresProximos {
    background-color: #E6E8E3; /* Mesma cor de fundo da página */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Cor do título Fornecedores mais Próximos */
.fornecedoresProximos h1 {
    color: #76877D;
}

/* Estilo do botão Buscar */
.btn-primary {
    background-color: #88B8A9;
    border: none;
}

/* Estilo do input de CEP */
.cep-input {
    max-width: 300px; /* Define a largura máxima do input */
}