body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E6E8E3;
    height: 100vh;
    margin: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
}

.cabecalho h1 {
    color: #76877D;
}

.cabecalho button {
    padding: 20px;
    border-radius: 8px;
    border: none;
    background-color: #88b8a9;
    cursor: pointer;
    transition: 0.8s;
}

.cabecalho button:hover {
    background-color: #5d7c72;
}

.cabecalho a {
    text-decoration: none;
    color: white;
}

ul#lista-empresas {
    list-style-type: none; 
    padding-top: 50px;
    margin: 0;
}

ul#lista-empresas li {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding: 10px;
    margin-bottom: 10px; 
    border-radius: 8px; 
    background-color: #E6E8E3;
}

ul#lista-empresas li span {
    font-weight: bold;
    color: #333;
}

.update-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.update-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #bb2826;
}